<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vehiculo-heading" jhiTranslate="vehiclesApp.vehiculo.home.createOrEditLabel">Create or edit a Vehiculo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vehiclesApp.vehiculo.placa" for="field_placa">Placa</label>
                    <input type="text" class="form-control" name="placa" id="field_placa"
                           formControlName="placa"/>
                    <div *ngIf="editForm.get('placa').invalid && (editForm.get('placa').dirty || editForm.get('placa').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('placa').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('placa').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 7 }">
                        This field cannot be longer than 7 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vehiclesApp.vehiculo.color" for="field_color">Color</label>
                    <input type="number" class="form-control" name="color" id="field_color"
                           formControlName="color"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vehiclesApp.vehiculo.estado" for="field_estado">Estado</label>
                    <input type="checkbox" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vehiclesApp.vehiculo.marca" for="field_marca">Marca</label>
                    <select class="form-control" id="field_marca" name="marca" formControlName="marca">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="marcaOption.id === editForm.get('marca').value?.id ? editForm.get('marca').value : marcaOption" *ngFor="let marcaOption of marcas; trackBy: trackMarcaById">{{marcaOption.marca}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vehiclesApp.vehiculo.modelo" for="field_modelo">Modelo</label>
                    <select class="form-control" id="field_modelo" name="modelo" formControlName="modelo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="modeloOption.id === editForm.get('modelo').value?.id ? editForm.get('modelo').value : modeloOption" *ngFor="let modeloOption of modelos; trackBy: trackModeloById">{{modeloOption.modelo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vehiclesApp.vehiculo.tipo" for="field_tipo">Tipo</label>
                    <select class="form-control" id="field_tipo" name="tipo" formControlName="tipo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoVehiculoOption.id === editForm.get('tipo').value?.id ? editForm.get('tipo').value : tipoVehiculoOption" *ngFor="let tipoVehiculoOption of tipovehiculos; trackBy: trackTipoVehiculoById">{{tipoVehiculoOption.tipo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vehiclesApp.vehiculo.duenho" for="field_duenho">Duenho</label>
                    <select class="form-control" id="field_duenho" name="duenho" formControlName="duenho">
                        <option *ngIf="!editForm.get('duenho').value" [ngValue]="null" selected></option>
                        <option [ngValue]="conductorOption.id === editForm.get('duenho').value?.id ? editForm.get('duenho').value : conductorOption" *ngFor="let conductorOption of conductors; trackBy: trackConductorById">{{conductorOption.nombre}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('duenho').invalid && (editForm.get('duenho').dirty || editForm.get('duenho').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('duenho').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
