<div>
    <h2 id="page-heading">
        <span jhiTranslate="vehiclesApp.conductor.home.title">Conductors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-conductor" [routerLink]="['/conductor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="vehiclesApp.conductor.home.createLabel">
            Create a new Conductor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="conductors?.length === 0">
        <span jhiTranslate="vehiclesApp.conductor.home.notFound">No conductors found</span>
    </div>
    <div class="table-responsive" *ngIf="conductors?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dni"><span jhiTranslate="vehiclesApp.conductor.dni">Dni</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="vehiclesApp.conductor.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaNacimiento"><span jhiTranslate="vehiclesApp.conductor.fechaNacimiento">Fecha Nacimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="vehiclesApp.conductor.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="celular"><span jhiTranslate="vehiclesApp.conductor.celular">Celular</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let conductor of conductors ;trackBy: trackId">
                <td><a [routerLink]="['/conductor', conductor.id, 'view' ]">{{conductor.id}}</a></td>
                <td>{{conductor.dni}}</td>
                <td>{{conductor.nombre}}</td>
                <td>{{conductor.fechaNacimiento | date:'mediumDate'}}</td>
                <td>{{conductor.email}}</td>
                <td>{{conductor.celular}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/conductor', conductor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/conductor', conductor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/conductor', { outlets: { popup: conductor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="conductors?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
