<div>
    <h2 id="page-heading">
        <span jhiTranslate="vehiclesApp.marca.home.title">Marcas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-marca" [routerLink]="['/marca/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="vehiclesApp.marca.home.createLabel">
            Create a new Marca
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="marcas?.length === 0">
        <span jhiTranslate="vehiclesApp.marca.home.notFound">No marcas found</span>
    </div>
    <div class="table-responsive" *ngIf="marcas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="vehiclesApp.marca.codigo">Codigo</span></th>
            <th><span jhiTranslate="vehiclesApp.marca.marca">Marca</span></th>
            <th><span jhiTranslate="vehiclesApp.marca.estado">Estado</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let marca of marcas ;trackBy: trackId">
                <td><a [routerLink]="['/marca', marca.id, 'view' ]">{{marca.id}}</a></td>
                <td>{{marca.codigo}}</td>
                <td>{{marca.marca}}</td>
                <td>{{marca.estado}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/marca', marca.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/marca', marca.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/marca', { outlets: { popup: marca.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
